build/*.js
config/*.js
src/assets
src/mock
src/store
src/utils
src/router
src/views/together
src/api/together.js
src/views/dashboard/index.vue
src/views/dashboard/index2.vue
src/views/count/count.vue
src/views/record/addRecord.vue
src/views/record/recorder.vue
src/views/record/post.vue
src/views
src/components
src/api
src/views/sendcard/addcard.vue
src/views/sendcard/cardlist.vue
src/views/sendcard/cardrec.vue
src/components/DragVerify/dragVerify.vue