@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Microsoft YaHei, Arial, sans-serif;
}
 ul li{list-style: none;}
label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app{
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus{
  outline: none;
 }

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main{
  min-height: 100%
}


//面包屑导航
.firstbread span{
  color:#bcbcbc!important;
}
.el-menu--horizontal{
    border-bottom:none!important;
}
.navbar {
  height: 50px;
  line-height: 50px;
  border-radius: 0px !important;
  .hamburger-container {
    line-height: 58px;
    height: 50px;
    float: left;
    padding: 0 10px;
  }
}

.app-breadcrumb.el-breadcrumb {
    display: inline-block;
    font-size: 14px;
    line-height: 50px;
    // margin-left: 10px;
    .no-redirect {
      color: #97a8be;
      cursor: text;
    }
}
.topmiddle{
  height: 60px;
  line-height: 60px;
  text-align: right;

  
}
.more-dropdown{
  top: 134px!important;
 
}
.topsearch{
    height: 60px;
    line-height: 60px;
    border-radius:10px;
   
}
.topbtn{
  height: 60px;
  line-height: 85px;
  padding-left: 20px;
}
.topbtnbasic{
  height: 60px;
  line-height: 85px;
  text-align: right;
}
.topbtnbotlink{
  top:135px!important;
}
.toplinkbottom10{
  margin-bottom: 10px;
}
.toplinkbottom4{
  margin-bottom: 4px;
}
//表格样式
.tablefooter{
    height: 80px;
    background-color: #ffffff;
}
.rightfooter{
    padding-left: 15px;
    padding-top: 33px;
}
.leftfooter{
    padding-top:28px;
    padding-left: 10px;
}
.toolbar{
   margin-top:10px
}
.linkurl{
    color: #1890ff;
    margin-left: 8px;
    cursor: pointer;
}
.tableExpandTitle{
  width: 92px;
  height: 28px;
  background-color:#F9FAFD;
  text-align: center;
  line-height: 28px;
  font-size: 14px;
  font-weight: bold;
}
.tableExpandTable{
  width: 100%
}
.tableExpandTd{
  width: 40%;
  text-align: center;
  height: 42px;
  background-color:  #FBFBFB;
  border-collapse: collapse;
  border: 1px solid #EEEEEE;


}
.tableExpandContent{
  border: 1px solid #EEEEEE;
  text-indent: 20px
}
.cardtime{
  height: 283px;
  width: 100%;
  max-width: 600px;

}

.cardtimeline{
  padding-left: 50px;
  padding-top: 20px;
}
.cardtimeline .time{
  font-size: 16px;
  font-weight: bold;
}
.cardtimeline .content{
  padding-left: 5px;
}

//搜索样式
.searchbar{
  height: 100%;
  background-color: #ffffff;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.blocktime{
  float: left;
  margin-top: 15px;
  margin-left: 24px;
}
.el-date-editor--datetimerange.el-input, .el-date-editor--datetimerange.el-input__inner{
  width: 280px;
}
.el-date-editor .el-range-separator{
  padding: 0;
}
.demonstration{
  font-size: 12px;
  color: #333;
  margin-right: 8px;
  font-weight: bold;
}
.btnlist{
  margin-top: 10px;
  
}
.btnul li{
  float: left;
  list-style: none;
  font-size: 18px;
  margin-left: 19px;
  button{
    color:#000000;
    .btnspan {
      padding-left: 5px;
      font-size: 14px;
      color: #d5d5d5;
  }
  }
}
.btnfirst{
  color:#999999!important;
}
.btnactive .el-button{
  border:1px solid #71dfd2!important;
}
.btnactive span{
  color:#71dfd2;
  .btnspan{
    color:#71dfd2!important;
  }
}
.selectsearch{
  width:300px;
  // .el-input__inner{
  //   height: 35px;
  // }
}

.reportno .cell{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display:block;
}

//弹窗确定按钮
.btnenter{
  background-color:#42ecc3;
  border: 1px solid #42ecc3;
}

.el-dialog__header{
  border-bottom: 1px dashed #cccccc;
}

// .el-dialog__body .el-form-item{
//   margin-bottom:7px; 
// }

.el-alert__content{
  padding-left: 8%!important;
}

.el-card__header{
  border-bottom: none!important;
  padding-left:20px!important;
  padding-right: 20px!important;
  padding-top: 12px!important;
  padding-bottom: 0px!important;
}
.el-card__body{
  padding-left:20px!important;
  padding-right: 20px!important;
  padding-top: 10px!important;
  padding-bottom: 20px!important;
}
// .el-form-item{
//   margin-bottom: 10px!important;
// }
.ivu-steps-item.ivu-steps-status-process .ivu-steps-head-inner{
  background-color: #1890FF;
  border-color:#1890FF;
}
.ivu-steps-item.ivu-steps-status-finish .ivu-steps-head-inner{
  border-color:#1890FF;
}
.ivu-steps-item.ivu-steps-status-finish .ivu-steps-head-inner span, .ivu-steps-item.ivu-steps-status-finish .ivu-steps-head-inner>.ivu-steps-icon{
  color: #1890FF;
}


.el-form-item__label{
  color: #666666;
}

.el-select {
  width: 100%;
}

.btncolor{
  background-color: #5881D8;
  border: 1px solid #5881D8;
  color: #fff!important;
}
// .btnnextcolor{
//   background-color: #F9F9F9;
//   border: 1px solid #D9D9D9;
//   color: #5881D8;
// }
.btnnextcolor{
  background-color: #fff;
  border: 1px solid #DCDFE6;
  color: #666;
}
.topsearch{
  text-align: right;
}
.el-button--success:focus, .el-button--success:hover{
  background-color: #5881D8;
  border: 1px solid #5881D8;
}

.ivu-steps-item.ivu-steps-status-finish .ivu-steps-tail>i:after{
  background-color: #5881D8;
}
.stepcolor{
  padding-top: 13px;
}

.vb > .vb-dragger {
  z-index: 5;
  width: 12px;
  right: 0;
}

.vb > .vb-dragger > .vb-dragger-styler {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotate3d(0,0,0,0);
  transform: rotate3d(0,0,0,0);
  -webkit-transition:
      background-color 100ms ease-out,
      margin 100ms ease-out,
      height 100ms ease-out;
  transition:
      background-color 100ms ease-out,
      margin 100ms ease-out,
      height 100ms ease-out;
  background-color: rgba(48, 121, 244,.1);
  margin: 5px 5px 5px 0;
  border-radius: 20px;
  height: calc(100% - 10px);
  display: block;
}

.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(48, 121, 244,.3);
}

.vb > .vb-dragger:hover > .vb-dragger-styler {
  background-color: rgba(48, 121, 244,.5);
  margin: 0px;
  height: 100%;
}

.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(48, 121, 244,.5);
  margin: 0px;
  height: 100%;
}

.vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(48, 121, 244,.5);
}


.el-collapse-item__wrap{
  border-bottom: none;
}
// .el-collapse-item__header{
//   border-bottom: none;
// }
.el-collapse-item__header.is-active{
  border-bottom-color: #ebeef5;
}
.el-collapse{
  border-top:none;
  border-bottom: none;
}

// .el-tooltip__popper {
//   border:none!important;
//   background-color:  #EBF9FB!important;
//   color:#999999!important;
// }

.el-table td, .el-table th{
  padding: 8px 0!important;
}
.has-gutter tr:first-child th:first-child .cell {
  margin-left: 14px!important;
}
.el-table__row td:first-child .cell{
margin-left: 14px!important;
}
.el-table{
  font-size: 12px;
}
.el-form-item__error {
  color: #f56c6c;
  font-size: 12px;
  line-height: 1;
  padding-top: 4px;
  position: absolute;
  top: 25%;
  left: 45%;
}
.el-form-item{
  margin-bottom:8px!important
}
.el-input.is-disabled .el-input__inner {
  background-color: #f5f7fa;
  border-color: #e4e7ed;
  cursor: not-allowed;
  color: #6E7071
}
.el-textarea.is-disabled .el-textarea__inner{
  color: #6E7071!important
}
.el-cascader.is-disabled .el-cascader__label{
  color: #6E7071!important
}

.tablelist{
  width: 100%;
  min-height: 450px;
}
.ivu-modal-body{
  padding: 0
}
.msgtitle{
  background-color: #507ACD;
  color: #fff;
  padding: 11px 16px;
  font-size: 16px;
}
.ivu-modal{
  top:200px;right:-280px;height:540px;background:#fff;
}
.ivu-modal-content{
  height: 100%;
  background-color: #EEF2FB;
  padding-bottom: 73px;
  box-sizing: border-box;
}
.msginput{
  background-color: #fff;
  display: flex;
  align-items: center
}
.msginput img{
  margin: 0 15px;
  cursor: pointer;
  width: 36px;
  flex-shrink:0
}
.msgcont textarea{
  box-sizing: border-box;
  width: 100%;
  border: none; 
  resize:none
}
.reply{
  max-width: 22rem;
  margin: 10px 0 0 0 !important;
  color: #333
}
.replyleft{
  float:left;
  background-color: #fff !important;
}
.msgtitleword *{
  color: #666
}
.replyright{
  background-color: #507ACD !important;
  color: #fff !important;
  float: right;
}
.replyright::after{
  display:none
}
.replyright::before{
  left:auto !important;
  right: 12px  !important;
  border-color: transparent transparent rgba(80,122,205,1) transparent !important;
}
.ivu-modal-close .ivu-icon{
  color: #fff !important;
}
// .ivu-modal-close .ivu-icon-ios-close {
//   font-size: 31px;
//   color: #999;
//   transition: color .2s ease;
//   position: relative;
//   top: -10px!important;
//   left: 10px!important;
// }
.msginput{
  position: absolute;
  width: 100%;
  min-height: 60px;
  left: 0;
  bottom: 0;
}
.el-select .el-input.is-disabled .el-input__inner{
  height: auto!important;
}

.el-form-item.is-success .el-input__inner, .el-form-item.is-success .el-input__inner:focus, .el-form-item.is-success .el-textarea__inner, .el-form-item.is-success .el-textarea__inner:focus{
  border-color:#dcdfe6 !important
}
.orderlist{
  .topsearch{
    .el-input__inner{
      // border: 0px !important;
    }
  }
}
.el-dropdown-menu .el-dropdown-menu__item{
  word-break: keep-all
}
.custom-card-filter,
.custom-card-grid{
  border-radius: 4px;
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.08);
}
.zhujieren-container{
  .el-select .el-input.is-disabled .el-input__inner{
    height:32px!important
  }
}

.is-disabled{
  ::-webkit-input-placeholder {
    color:#f5f7fa !important;
  }
}
.personclass{
 .el-select .el-input.is-disabled .el-input__inner{
    height:32px!important;

  } 
}
.secondcalss{
  .el-select .el-input.is-disabled .el-input__inner{
    height:32px!important
  } 
}
.el-picker-panel__icon-btn{
  font-size: 14px;
}
